#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "curl"
     "fnm"
     "git"
     "jq"
     "ripgrep"
     "tmux"
     "wget"
     "xz"
     "yt-dlp" -}}
{{ $casks := list
     "1password-cli"
     "karabiner-elements"
     "signal"
     "slack"
     "spotify"
     "virtualbox-beta"
     "vlc"
     "whatsapp" -}}

{{ $taps := list
     "homebrew/cask-versions" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
